.header {
  padding: 4.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--gray-700);
}

.container {
  max-width: 46rem;
  margin: 0 auto;

  padding: 0 1rem;
}

.taskForm {
  display: flex;
  gap: 0.5rem;

  margin-top: calc(0px - 1.5rem);

  width: 100%;
}

.taskForm input {
  width: 100%;
  background: var(--gray-500);
  
  color: var(--gray-100);
  
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 1rem;

  font-size: 1rem;
  line-height: 1.4;

  transition: outline 0.1s;
}

.taskForm input::placeholder {
  color: var(--gray-300);
}

.taskForm input:focus {
  outline: none;
}

.taskForm button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: var(--blue-900);
  color: var(--gray-100);

  font-size: 0.875rem;
  font-weight: 700;

  cursor: pointer;

  border: 0;
  border-radius: 8px;
  padding: 1rem;

  transition: filter 0.2s;
}

.taskForm button:hover {
  filter: brightness(0.9);
}

.tasksContent {
  margin-top: 4rem;
}

.tasksInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasksInfo h3 {
  display: inline-block;
  padding-right: 0.5rem;
  
  font-size: 0.875rem;
  color: var(--blue-500);
}

.tasksInfo span {
  padding: 0.125rem 0.5rem;
  background: var(--gray-400);

  font-size: 0.75rem;
  font-weight: 700;
  color: var(--gray-100);

  border-radius: 999px;
}

.tasksInfo div:last-child h3 {
  color: var(--purple-500);
}

.emptyList {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.emptyList img {
  margin-top: 4rem;
}

.emptyList h2 {
  margin-top: 1rem;

  line-height: 1.4;
  font-size: 1rem;

  color: var(--gray-300);
}

.emptyList p {
  font-size: 1rem;
  line-height: 1.4;
  color: var(--gray-300);
}
